* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

nav {
    background-color: black;
    color: white;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.logout-box a {
    background-color: white;
    color: black;
    padding: 6px 14px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.logout-box a:hover {
    background-color: gray;
    color: white;
}

.container {
    margin-top: 90px;
    text-align: center;
}

.container h1{
    font-size: 34px;
    margin-bottom: 10px;
}

.container p{
    font-size: 20px;
}
